<div id="logo-div">
  <ion-text class="medium">
    <p>{{title ? title : ''}}</p>
    <div>
      <img src="../../../assets/icon/logo.png" />
    </div>
    <h3 class="ion-text-center">IFinanças</h3>
  </ion-text>
</div>