<ion-header>
  <ion-toolbar>
    <ion-title>cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>

  <form [formGroup]="contasForm" (submit)="registraConta()">
    <ion-item>
      <ion-icon name="person" color="money" slot="start"></ion-icon>
      <ion-input formControlName="parceiro" placeholder="Parceiro Comercial" autofocus="true"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon name="document" color="money" slot="start"></ion-icon>
      <ion-input formControlName="descricao" placeholder="Descriçao"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-icon name="wallet" color="money" slot="start"></ion-icon>
      <ion-input formControlName="valor" type="number" placeholder="Valor"></ion-input>
    </ion-item>
    
    

    <ion-list>
      <ion-radio-group formControlName="tipo">
          <ion-item>
          <ion-label>A pagar</ion-label>
          <ion-radio slot="start" value="pagar"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>A receber</ion-label>
          <ion-radio slot="start" value="receber"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    
    
    
    
    <ion-button [disabled]="contasForm.invalid" type="submit" expand="block" color="money" fill="outline">Enviar</ion-button>
  </form>

</ion-content>
